<h1>Hola</h1>
<form method="POST" action="/characters/create">
    <label> Name<input name="name" type="text" /></label>
    <label> Occupation<input name="occupation" type="text" /></label>
    <label> Weapon<input name="weapon" type="text" /></label>
    <button> Create new</button>
</form>