<form method="POST" action="/characters/<%= character.id %>/update">
    <label> Name<input name="name" type="text" value="<%= character.name %> " /></label>
    <label> Occupation<input name="occupation" type="text" value="<%= character.occupation %>" /></label>
    <label> Weapon<input name="weapon" type="text" value="<%= character.weapon %>" /></label>
    <button> Edit</button>
</form>